@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

:root {
  --background: #303030;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  height: 100vh;
  color: #fafafa;
}

.container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

.mensagem-sucesso {
  background-color: #22c55e !important;
  color: #fafafa;
}

.mensagem-sucesso,
.mensagem-erro {
  margin-top: 8rem !important;
}

.mensagem-erro {
  background-color: #f44336 !important;
  color: #fafafa;
}
