.principal-cabecalho-container {
  height: 64px !important;
  position: fixed;
}

.cabecalho-container {
  & .botao-navegacao-container {
    margin-right: 1.5rem;
  }

  & .titulo-container{
    display: flex;
    align-items: center;


    & h2 {
      margin-right: .9rem;
      font-weight: bold;
    }
  }
}
