.container-principal {
  margin: 10rem 15px;
  padding-bottom: 3rem;
  text-align: center;

  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

@media (min-width: 71rem) {
  .container-principal {
    margin: 10rem 3rem;
  }
}
