<rng-cabecalho>
  <button (click)="this.mudarIsAberto()" mat-icon-button id="botaoNavegacao">
    <mat-icon>menu</mat-icon>
  </button>
</rng-cabecalho>

<rng-navegacao-lateral [isAberto]="this.isAberto"></rng-navegacao-lateral>

<main class="container">
  <h1>Ola mundo</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe unde quo, sunt voluptatum maxime! Magnam
    asperiores similique eum, delectus excepturi soluta sint nam eveniet eaque quos eos in dicta iure, esse, totam nulla
    reprehenderit quis recusandae suscipit at unde!
  </p>
</main>