<h1 mat-dialog-title>Detalhes dos alimentos!</h1>

<div mat-dialog-content class="dialogo-container">
  <span class="acao-container">
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="this.salvarDetalhesAlimentos()"
      *ngIf="!this.praAlterar"
      [disabled]="this.formularioDetalhe.invalid"
      mat-dialog-close
    >
      <mat-icon>check</mat-icon>
      Salvar
    </button>

    <button
      mat-button
      mat-raised-button
      color="warn"
      (click)="this.cancelarAlteracao()"
      *ngIf="this.praAlterar"
    >
      <mat-icon>close</mat-icon>
      Cancelar
    </button>

    <button
      mat-button
      mat-raised-button
      color="primary"
      *ngIf="this.praAlterar"
      (click)="this.salvarEdicaoDetalhe()"
      [disabled]="this.formularioDetalhe.invalid"
    >
      <mat-icon>edit</mat-icon>
      Alterar
    </button>
  </span>

  <!--Formulário detalhes de alimento-->
  <form [formGroup]="this.formularioDetalhe">
    <mat-form-field
      class="input-container"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>Peso bruto</mat-label>
      <input
        matInput
        type="number"
        formControlName="pesoBruto"
        class="sem-contador"
      />
    </mat-form-field>

    <mat-form-field
      class="input-container menor"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>Carboidrato</mat-label>
      <input
        matInput
        type="number"
        formControlName="carbo"
        class="sem-contador"
      />
    </mat-form-field>

    <mat-form-field
      class="input-container menor"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>Proteína</mat-label>
      <input
        matInput
        type="number"
        formControlName="proteina"
        class="sem-contador"
      />
    </mat-form-field>

    <mat-form-field
      class="input-container menor"
      appearance="outline"
      floatLabel="always"
    >
      <mat-label>Gordura</mat-label>
      <input
        matInput
        type="number"
        formControlName="gordura"
        class="sem-contador"
      />
    </mat-form-field>

    <mat-form-field class="input-container" appearance="outline">
      <mat-label>Alimento</mat-label>
      <input
        type="text"
        matInput
        formControlName="alimento"
        [value]="this.formularioDetalhe.controls['alimento'].value.nome || ''"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let alimento of alimentos" [value]="alimento">
          {{ alimento.nome }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <!--Tabela-->
  <section class="lista-detalhes-alimentos-container">
    <h3 class="lista-titulo">Detalhes dos alimentos</h3>

    <table
      class="tabela-container tabela-detalhes-alimentos"
      mat-table
      [dataSource]="this.detalhesAlimentos"
    >
      <ng-container matColumnDef="alimento">
        <th mat-header-cell class="cabecalho-colunas" *matHeaderCellDef>
          Alimento
        </th>
        <td mat-cell class="corpo-colunas" *matCellDef="let detalhe">
          {{ detalhe.alimento.nome }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pesoBruto">
        <th mat-header-cell class="cabecalho-colunas" *matHeaderCellDef>
          Peso bruto
        </th>
        <td mat-cell class="corpo-colunas" *matCellDef="let detalhe">
          {{ detalhe.pesoBruto }}g
        </td>
      </ng-container>

      <ng-container matColumnDef="carboidrato">
        <th mat-header-cell class="cabecalho-colunas" *matHeaderCellDef>
          Carboidrato
        </th>
        <td mat-cell class="corpo-colunas" *matCellDef="let detalhe">
          {{ detalhe.carbo }}g
        </td>
      </ng-container>

      <ng-container matColumnDef="proteina">
        <th mat-header-cell class="cabecalho-colunas" *matHeaderCellDef>
          Proteina
        </th>
        <td mat-cell class="corpo-colunas" *matCellDef="let detalhe">
          {{ detalhe.proteina }}g
        </td>
      </ng-container>

      <ng-container matColumnDef="gordura">
        <th mat-header-cell class="cabecalho-colunas" *matHeaderCellDef>
          Gordura
        </th>
        <td mat-cell class="corpo-colunas" *matCellDef="let detalhe">
          {{ detalhe.gordura }}g
        </td>
      </ng-container>

      <ng-container matColumnDef="ações">
        <th mat-header-cell class="cabecalho-colunas" *matHeaderCellDef>
          Ações
        </th>
        <td mat-cell class="corpo-colunas" *matCellDef="let detalhe">
          <button
            mat-button
            color="accent"
            (click)="this.emitirAlterarDetalhe(detalhe)"
          >
            Editar
            <mat-icon>edit</mat-icon>
          </button>

          <rng-botao-excluir
            [informacoes]="{
              rota: 'detalhes',
              codigo: detalhe.codigo,
              mensagemSucesso: 'Detalhe de alimento excluído com sucesso!',
              mensagemErro: 'Não foi possível excluir o detalhe de alimento!'
            }"
            (executarAlgo)="this.retornarDetalhesAlimentos()"
          ></rng-botao-excluir>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="this.cabecalho"></tr>
      <tr mat-row *matRowDef="let row; columns: cabecalho"></tr>
    </table>

    <div>
      <mat-paginator
        [length]="this.totalElementos"
        [pageSize]="this.tamanhoPagina"
        (page)="this.mudarPagina($event)"
      ></mat-paginator>
    </div>
  </section>
</div>
