<h3 class="lista-aliment-title">Lista de alimentos</h3>
<table class="tabela-alimento-container" mat-table [dataSource]="this.alimentos">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>
      Nome
    </th>
    <td mat-cell *matCellDef="let alimento">
      {{alimento.nome}}
    </td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>
      Ações
    </th>
    <td mat-cell *matCellDef="let alimento">
      <div class="lista-alimentos-acoes">
        <button mat-button color="accent" (click)="this.emitirAlimento(alimento)">
          Editar
          <mat-icon>edit</mat-icon>
        </button>
        <rng-botao-excluir [informacoes]="{
          rota: 'alimentos',
          codigo: alimento.codigo,
          mensagemSucesso: 'Alimento excluido com sucesso!',
          mensagemErro: 'Erro ao tentar excluir alimento!'
        }" (executarAlgo)="this.executarRecarregamento()">
        </rng-botao-excluir>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.cabecalho"></tr>
  <tr mat-row *matRowDef="let row; columns cabecalho;"></tr>
</table>