<section>
  <h1 mat-dialog-title>Plano alimentar</h1>
  <mat-dialog-content>
    <form class="formulario-plano-alimentar" [formGroup]="this.formularioPlano">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        <mat-error>O nome do plano alimentar é obrigatório!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput rows="10" formControlName="descricao"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button mat-button mat-raised-button color="primary" mat-dialog-close [disabled]="this.formularioPlano.invalid">
      <mat-icon>done</mat-icon>
      Salvar
    </button>
  </mat-dialog-actions>
</section>