<mat-sidenav-container autosize>
  <mat-sidenav class="menu-navegacao-container" mode="side" [opened]="this.isAberto" fixedInViewport="true"
    fixedTopGap="64">
    <mat-nav-list>
      <mat-list>
        <a [routerLink]="['/inicio']">
          <mat-list-item role="listitem">
            <mat-icon>home</mat-icon>
            Início
          </mat-list-item>
        </a>
        <a [routerLink]="['/alimentacao']">
          <mat-list-item role="listitem">
            <mat-icon>restaurant</mat-icon>
            Alimentação
          </mat-list-item>
        </a>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>